extend layout

block layout-contect
 div#navbar 
 div#sidebar
 div.indexDiv
   h1 Hello!
   h1.Banner 
   img(src="SmallLuffy&Shancks.jpg" width="100" heigth="180")
   img(src="zoro.png" width="100" heigth="200")
   img(src="Luffy&ShanksLostHand.png" width="100" heigth="200")
    
 div.dataUser
    form(action="/user" method="POST")
      label(for="fname") FirstName : 
      input(type="text" id="fname" name="first_name" placeholder="your first name..")

      label(for="lname") LastName:
      input(type="text" id="lname" name="last_name" placeholder="your last name..")

      label(for="email" ) Email:
      input(type="text" id="email" name="email" placeholder="your email..")

      button(type="submit" value="Submit") Click

    a(href="/user") Go To User
 