.indexDiv {background-color: aquamarine;


} 

input[type=text], select {
    width: 20%;
    padding: 3px 20px;
    margin: 8px 1;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #navbar{
    background-color:black;
      height:10%;
      width:100%;
      background-image:liner;
      position:fixed;
      
  }
  
  #sidebar{
    background-color:green;
    height:100%;
    width:10%;
    background-image:liner;
    position:fixed;
    
}
  #pageNotFound{

  }
  
